{% extends "review/base.html" %}

{% block title %}
{{ prof.name }}
{% endblock %}

{% block content %}
<h1>{{ prof.name }}</h1>
<p><b>Department: {{ prof.dept.dept }}</b></p>
<p>{{ prof.info }}</p>
<br>


{% if ct == 0 %}
<h4>No Reviews Found</h4>
{% endif %}
{% if ct ==  1 %}
	<h2>1 Review found:</h2>
{% endif %}

{% if ct > 1 %}
	<h2>{{ ct }} Reviews found:</h2>
{% endif %}

Add your own review <a href="{% url 'prof-review-create' prof.id %}">here</a>!
<br><br>
{% for review in matches %}
<div class = "review">	
	<h4><a href="{% url 'prof-review-detail' review.prof.id review.id %}">{{ review.title }}</a></h4>
	Written by 
	{% if review.anonymous %}
		anonymous
	{% else %}
		{{ review.author.username }}, Respect Points: {{ review.author.profile.rp }}
	{% endif %}
	<br>
	Content Quality: {{ review.content_quality }}.0/10.0
	<br>
	Date: {{review.date_posted|date:"m F, Y"}}
	<br><br><p>{{ review.review }}</p>
	<a href = "#" onClick = "document.getElementById('likebutton{{review.id}}').submit()">Like:</a>{{ review.likes }}
	&nbsp&nbsp<a href = "#" onClick = "document.getElementById('dislikebutton{{review.id}}').submit()">Dislike:</a> {{ review.dislikes }}
	&nbsp&nbsp<a href = "#" onClick = "document.getElementById('report{{review.id}}').submit()">Report:</a> {{ review.reports }}

	<form id = "likebutton{{ review.id }}" method = "POST" action = "{% url 'prof-review-pref' review.prof.id review.id 1 %}">
		{% csrf_token %}
		<input type="hidden">
	</form>
	<form id = "dislikebutton{{ review.id }}" method = "POST" action = "{% url 'prof-review-pref' review.prof.id review.id 2 %}">
		{% csrf_token %}
		<input type="hidden">
	</form>
	<form id = "report{{ review.id }}" method = "POST" action = "{% url 'prof-review-report' review.prof.id review.id %}">
		{% csrf_token %}
		<input type="hidden">
	</form>
	<br><br>
</div>

{% endfor %}
{% endblock %}